body {
  font-family: garamond;
  font-size: 14px;
  text-align: left;
}

header {
  height: 125px;
  background-color: #ADE6D8;
  padding: 50px 75px 10px 75px;
  }

header h1 {
  font-size: 4rem;
  float: left;
  padding: 5px 0 0 0;
}

header li {
  padding: 0 0 0 50px;
  margin: 25px 0 0 0;
  text-align: right;
  float: right;
  display: inline-block;
}

header a {
  font-weight: bold;
  font-size: 2rem;
  border: black 3px solid;
  padding: 10px;
  text-decoration: none;
  background-color: white;
}

header a:hover {
  text-decoration: underline;
}

a {
  color: #551a8b;
}

main a:visited {
  color: #551a8b;
  text-decoration: none;
  font-style: italic;
}

main h1 {
  font-size: 2.75rem;
  margin: 35px 0 0 75px;
}

#subheader {
  margin: 25px 0 10px 75px;
}

main h2 {
  font-size: 2.25rem;
  margin: 15px 0 10px 0px;
}

article {
  border: black 3px solid;
  padding: 25px 50px 50px 50px;
  margin-bottom: 25px;
  background-color: #ADE6D8;
}

.posts {
  width: 65%;
  float: left;
  padding: 25px 0 25px 75px;
}

main h3  {
  font-size: 1.75rem;
  padding: 10px 0 25px 0;
}

h3~p {
  border: black 1px solid;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 25px 0;
  background-color: white;
}

.post-content {
  border: black 1px solid;
  padding: 15px;
  background-color: white;
}

p {
  font-size: 1.5rem;
  padding: 25px;
  background-color: white;
}

.top-cats {
  width: 20%;
  float: right;
  border: black 3px solid;
  padding: 15px;
  margin: 25px 50px 0 0;
  background-color: #ADE6D8;
}

.top-cats h2 {
  padding-left: 25px;
  padding-bottom: 20px;
}

.top-cats section {
  border: black 1px solid;
  background-color: white;
}

.top-cats h3 {
  text-align: center;
  margin-left: 50px;
  margin-bottom: -10px;
  margin-top: 10px;
  text-decoration: underline;
}

.top-cats p{
  border: none;
  background-color: white;
}

.top-cats img {
  float: left;
  border-radius: 50%;
  padding: 20px;
}

footer {
  clear: both;
  height: 175px;
  background-color: #ADE6D8;
  /*padding: 10px 75px 50px 75px;*/

}

footer nav {
  width: 45%;
  display: inline-block;
}

h4 {
  font-size: 2.5rem;
  float: left;
  margin-top: 65px;
  margin-left: 75px;
  width: 15%;
}

footer li {
  padding: 0 0 0 60px;
  margin: 0 -60px 35px 50px;
  text-align: right;
  float: right;
  display: inline-block;
}

footer a {
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border: black 3px solid;
    padding: 10px;
    background-color: white;
}

footer a:hover {
  text-decoration: underline;
}

#disclaimer {
  text-align: left;
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
}

/** {
   border: black 1px solid;
 }*/
